<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    

    <div class="wrapper">

        <%- include("partials/header.ejs") %>

        <main class="content">
            <h1 style="text-align: center; margin-top: 2rem;">
                Contact Lucas - (904)864-5167
            </h1>
        </main>

        <%- include("partials/footer.ejs") %>
    </div>

    
</body>

</html>