<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="stylesheet" href="/styles/main.css">
</head>
<header>
    <%- include("partials/header.ejs") %>
</header>
<body>
    <h1 class="title">Contact Team</h1>
    
</body>
<footer>
    <%- include("partials/footer.ejs") %>
</footer>
</html>