html, body {
    height: 100%;
    margin: 0;
}

.title {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.form-container{
    display : flex;
    align-items:flex-start;
    justify-content: center;
    height : 100vh;

}
.form-inside {
    display : flex;
    flex-direction: column;
    gap : 16px;
    width : 300px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

body {
    background-color: #f8f9fa;
}
  
.form-signin {
    max-width: 400px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

